CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

#CPack
/CPackConfig.cmake
/CPackSourceConfig.cmake

#Eclipse
.cproject
.project
.settings

#Other
include/VC4CLStdLib.h.pch
include/VC4CLStdLib.bc
